@import '../../../scss/main.scss';

.transaction-table {
  width: 100%;
}

.transaction-row {
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: getColor('third-text-color');
}

.transaction-data {
  display: flex;
  justify-content: space-between;
}
.transaction-title {
  font-weight: 700;
  font-size: 18px;
}
