@import '../../../scss/main.scss';

.transaction-table {
  width: 100%;
}

.type-wrapper {
  &::before {
    position: absolute;
    content: '';
    left: 0;
    display: inline-block;

    height: 40%;
    border-radius: 20%;
  }
}
.outlay-border {
  border-left: 4px solid getColor('consumption-text-color');
}
.income-border {
  border-left: 4px solid getColor('income-text-color');
}

.transaction-tbody-mobile {
  td:not(:last-child) {
    border-bottom: 1px solid #dcdcdf;

    box-shadow: 0 5px 4px -5px rgba(255, 255, 255, 0.6);
  }
}

.transaction-row {
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: getColor('third-text-color');
}

.transaction-data {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dcdcdf;
}
.transaction-title {
  font-weight: 700;
  font-size: 18px;
}
.outlay-color {
  color: getColor('consumption-text-color');
}
.income-color {
  color: getColor('income-text-color');
}
