@import '../../../scss/main.scss';

.home-wrap-desktop {
  width: calc((100% - 2 * 30px) / 2);

  @media (min-width: 1280px) {
    width: 100%;
  }
}
// .icons-desktop {
//   @media (min-width: 768px) {
//     display: block;
//   }
// }
.icons-list {
  display: flex;
  margin-top: 13px;

  &:hover {
    transform: scale(1.02);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.link {
  font-size: 18px;
  line-height: 1.5;
  text-decoration: none;
}
.active-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}

.icons-ui {
  display: inline-flex;
  background-color: getColor('fourth-text-color');
}

.icons-title {
  margin-left: 20px;
  color: getColor('main-text-color');
}
