@import '../../../scss/main.scss';

.home-wrap-desktop {
  width: calc((100% - 2 * 30px) / 2);
  z-index: 3;

  @media (min-width: 1280px) {
    width: 100%;
  }
}

.list-home-links {
  margin-top: 40px;
  padding: 0px;
}

.icons-list {
  margin-top: 13px;

  @media (min-width: 1280px) {
    margin-top: 10px;
    &:first-child {
      margin-top: 0px;
    }
  }

  &:hover {
    transform: scale(1.02);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.icons-title {
  margin-left: 20px;
  color: getColor('main-text-color');
}
