@import '../../scss/main.scss';

.icons {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;
}
.icons-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin-right: 36px;
  border-radius: 6px;
  color: getColor('third-text-color');
  background-color: getColor('fourth-text-color');
  // background-color: rgba($color: getColor('fourth-text-color'), $alpha: 0.2);

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    transform: scale(1.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.link {
  color: getColor('third-text-color');
  background-color: rgba($color: getColor('fourth-text-color'), $alpha: 0.2);
}
.active-link {
  color: getColor('third-text-color');
}
.nav-title {
  color: getColor('main-text-color');
}
