@import '../../scss/main.scss';

.user_name_text {
  color: getColor('secondary-text-color');
}

.btnLogout {
  color: getColor('secondary-text-color');
  border: none;
  background-color: getColor('main-background-color');
}

.header_container {
  display: flex;
  align-items: center;
}
