@import '../../../scss/main.scss';

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.tableHead {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 15px 20px;

  max-height: 50px;

  border-radius: 33px;

  align-items: center;
  background-color: white;

  font-family: Circe, sans-serif;
  font-weight: 700;
  font-size: 18px;

  @media (min-width: 768px) {
    padding: 15px 30px;
  }
}

.tableFirstCol,
.tableSecondCol {
  margin: 0;
  background-color: transparent;
}

tbody td {
  padding: 10px 0 10px;

  font-family: Circe, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.13;
}

tbody tr {
  border: none;
  border-bottom: 1px solid #dcdcdf;
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.6);
}

.tableData {
  &:first-child {
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
  }

  &:last-child {
    text-align: right;
    padding-right: 20px;

    @media (min-width: 768px) {
      padding-right: 30px;
    }
  }
}

.mark {
  display: block;
  min-width: 24px;
  min-height: 24px;
  margin-right: 15px;
}

tfoot th,
tfoot td {
  font-family: Circe, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

.foot {
  &Title {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    text-align: left;
  }

  &Row {
    align-items: center;
  }
}

.expenses {
  text-align: right;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 10px;

  color: getColor('consumption-text-color');

  @media (min-width: 768px) {
    padding-right: 30px;
  }
}

.incomes {
  text-align: right;
  padding-right: 20px;

  color: getColor('income-text-color');

  @media (min-width: 768px) {
    padding-right: 30px;
  }
}
