@import '../../scss/main.scss';

.title {
  font-family: Poppins;
  font-weight: 700;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 1.5;
  margin-left: 16px;
}

.form {
  // width: 320px;
  // height: 568px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // // align-items: center;
  // position: relative;

  // padding-left: 20px;
  // padding-right: 20px;

  @media screen and (min-width: 768px) {
    width: 540px;
    height: 616px;
    background-color: white;
    border-radius: 20px;
    z-index: 1;
  }
  @media screen and (min-width: 1280px) {
    background-color: white;
    border-radius: 20px;
  }
}
.logo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }
}

.logoImg {
  width: 30px;
  height: 30px;
}
.icon {
  color: getColor('noActive-text-color');
}

.input {
  font-family: Poppins;
  width: 100%;
  margin-top: 40px;
  height: 35px;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: 1s;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    padding-left: 65px;
    padding-right: 65px;
  }
}

.placeholder {
  width: 100%;
  font-family: Poppins;
  font-size: 18px;
  letter-spacing: 0.05em;
}
