@import '../../scss/index.scss';

.buttonsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .buttons {
    font-family: 'Poppins';
    width: 300px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;

    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1em;
  }

  .buttonAddTransaction {
    border: none;
    margin: 51px 0 20px 0;
    background-color: getColor('button-color-income');
    color: getColor('third-text-color');
  }

  .buttonCancel {
    border-color: getColor('fourth-text-color');
    color: getColor('fourth-text-color');
    background-color: getColor('main-background-color');
  }
}
