@import '../../scss/main.scss';

.titleWalletLogin {
  font-family: 'Montserrat';
  font-weight: 700;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 1.5;
  margin-left: 16px;
}

.formLog {
  width: 320px;
  height: 568px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 540px;
    height: 468px;
    background-color: white;
    border-radius: 20px;
    z-index: 1;
  }
  @media screen and (min-width: 1280px) {
    background-color: white;
    border-radius: 20px;
  }
}
.logoLogin {
  align-items: center;
  display: flex;
}

.logoImgLog {
  width: 30px;
  height: 30px;
}
.icon {
  color: getColor('noActive-text-color');
}

.inputLog {
  width: 100%;
  margin-top: 40px;
  height: 35px;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: 1s;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 65px;
    padding-right: 65px;
  }
}

.placeholderLog {
  width: 100%;
  font-family: Poppins;
  font-size: 18px;
  letter-spacing: 0.05em;
  padding: 0 0 40px 10px;
}
