@import '../../../scss/main.scss';

.dashboard-container {
  @media (min-width: 1280px) {
    display: flex;
    align-items: baseline;
  }
}
.dashboard-top-container {
  display: flex;
  align-items: baseline;

  @media (min-width: 1280px) {
    display: block;
  }
}
