@import '../../../scss/main.scss';

.transaction-div {
  // position: relative;
  max-height: 70vh;
  overflow: scroll;
  margin-top: 40px;

  @media (min-width: 768px) {
    max-height: 60vh;
    overflow: auto;
  }

  @media (min-width: 1280px) {
    width: 100%;
    margin-top: 46px;
    margin-left: 30px;
  }
}

.transaction-table {
  border-spacing: 0px;
  border-radius: 30px;

  tr {
    text-align: left;

    th:first-child {
      padding-left: 20px;
    }

    th:nth-child(n + 2) {
      padding-left: 15px;
    }
  }

  td {
    @media (max-width: 767px) {
      padding-right: 20px;
      padding-left: 20px;
    }

    padding: 19px 0 16px 15px;
    font-family: Circe, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.13;
    border-bottom: 1px solid #dcdcdf;
    text-align: start;
    box-shadow: 0 5px 4px -5px rgba(255, 255, 255, 0.6);
  }

  td:first-child {
    padding-left: 20px;
  }

  @media (min-width: 768px) {
    width: 100%;
    text-align: center;
  }
}

.transaction-head {
  position: sticky;
  top: 0;
  font-family: Circe, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  background-color: getColor('third-text-color');

  th {
    padding: 15px 0px 16px 0px;
  }

  th:first-child {
    border-radius: 30px 0px 0px 30px;
    align-items: start;
  }

  th:last-child {
    border-radius: 0px 30px 30px 0px;
  }
}

.outlay-color {
  color: getColor('consumption-text-color');
}
.income-color {
  color: getColor('income-text-color');
}
