@import '../../scss/index.scss';

// .fon{

// }
.registrationPage {
  display: flex;
  padding-top: 150px;
  padding-bottom: 116px;
}
.blok1 {
  width: 560px;

  padding-top: 150px;
  padding-right: 50px;
}
// .blok2{

// }

.container {
  display: flex;

  height: 100vh;
}
