@import '../../../scss/main.scss';

.section {
  margin-right: auto;
  margin-left: auto;
  padding: 30px 20px 40px 20px;

  @media (min-width: 768px) {
    display: block;
    padding: 40px;
    padding-right: 20px;
  }

  @media (min-width: 1280px) {
    padding: 30px 85px 35px 30px;
  }

  &Title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;

    @media (min-width: 768px) {
      margin-bottom: 20px;
    }
  }
}

.wrapper {
  @media (min-width: 768px) {
    display: flex;
  }
}

.visualPart {
  position: relative;

  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  height: 100%;

  @media (min-width: 768px) {
    margin-right: 35px;
    margin-bottom: 0;
  }
}

.chartTotal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -35%);

  background-color: transparent;

  font-family: Circe, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;

  @media (min-width: 768px) {
    transform: translate(-50%, -50%);
  }
}

.filter {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    margin-bottom: 20px;
    flex-direction: row;
  }
}

.dropdown {
  outline: none;
  appearance: none;

  display: inline-flex;
  margin-bottom: 20px;

  padding: 12px 20px;
  min-width: 280px;
  max-height: 50px;
  border: 1px solid getColor('button-border-color');
  border-radius: 25px;

  align-items: center;
  background-color: transparent;

  font-family: Circe, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  background: url(../../../images/arrow-bottom.svg) no-repeat right;
  background-position-x: calc(100% - 20px);

  @media (min-width: 768px) {
    margin: 0;
    min-width: 165px;
  }

  &:first-child {
    @media (min-width: 768px) {
      margin-right: 20px;
    }
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.warning {
  padding: 20px 0;

  text-align: center;
  color: getColor('consumption-text-color');

  font-family: Circe, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}
