.category {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  margin-bottom: 40px;
}

.categoryChoice {
  padding: 0 0 10px 20px;

  font-family: Poppins;
  font-size: 18px;
  line-height: 27px;
  color: #bdbdbd;
  letter-spacing: 0.05em;
}
