@import '../../../scss/main.scss';

// *,
// ::before,
// ::after {
//   box-sizing: border-box;
//   outline: 1px solid teal;
// }

.dashboard-container {
  margin-right: auto;
  margin-left: auto;
  background-color: rgba($color: #e1e1e1, $alpha: 0.4);
}
