@import '../../scss/main.scss';

.currency-div {
  // margin-top: 33px;
  border-radius: 30px;
  background-color: getColor('fourth-text-color');
  background-image: linear-gradient(
    180deg,
    rgba(255%, 255%, 255%, 0.2) -7.46%,
    rgba(255%, 255%, 255%, 0) 100%
  );
}

.currency-table {
  margin-top: 33px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-radius: 30px;
  color: getColor('third-text-color');
  background-color: getColor('fourth-text-color');

  // background-image: linear-gradient(
  //   180deg,
  //   rgba(255%, 255%, 255%, 0.2) -7.46%,
  //   rgba(255%, 255%, 255%, 0) 100%
  // );
}
.currency-column {
  padding: 10px;
  font-size: 18px;
}
.currency-row {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) -8.67%,
    rgba(255, 255, 255, 0) 116.22%
  );
}
